.container{
    max-width: 1200px;
    height: 100vb;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    justify-items: center;
}
.square{
    height: 200px;
    width: 200px;
    background-color: darkgrey;
    border: 3px solid white;
    padding: 10px;
    color: #fff;
    font-size: 150px;
    font-family: sans-serif;
    text-align: center;
}
.square.black{
    background-color: black;
}

.square.black:hover{
    cursor: pointer;
    background-color:darkgrey;
}

.button{
    margin-top: 20px;
    padding: 10px 30px;
}
