.container{
    max-width: 1200px;
    height: 100vb;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    justify-items: center;
}
.square{
    height: 200px;
    width: 200px;
    background-color: black;
    border: 3px solid white;
    padding: 10px;
    color: #fff;
    font-size: 150px;
    font-family: sans-serif;
    text-align: center;
}


.square:hover{
    cursor: pointer;
    background-color:darkgrey;
}

.button{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}
.button:hover{
    cursor: pointer;
    background-color: #d9d9d9;
}

.disabled {
    pointer-events: none;
    background-color: gray;
    cursor: default;
    opacity: 0.6;
}

.winner{
    margin-top: 15px;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #ff002b;
}